################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/test/UI/obj
/test/UI/bin/Debug/net7.0
/test/Console/obj
/test/Console/bin/Debug/net7.0
/test/ApiService/obj
/test/ApiService/bin/Debug/net7.0
/test/ApiService/ApiService.csproj.user
/src/ServiceReport.Ui/ServiceReport.Ui.Web.Core/ServiceReport.Ui.Web.Core.csproj.user
/src/ServiceReport.Ui/ServiceReport.Ui.Web.Core/obj
/src/ServiceReport.Ui/ServiceReport.Ui.Web.Core/bin/Debug/net7.0
/src/ServiceReport.Ui/ServiceReport.Ui.Web/ServiceReport.Ui.Web.csproj.user
/src/ServiceReport.Ui/ServiceReport.Ui.Web/obj
/src/ServiceReport.Ui/ServiceReport.Ui.Web/bin/Debug/net7.0
/src/ServiceReport.Ui/ServiceReport.Ui.Storage/obj
/src/ServiceReport.Ui/ServiceReport.Ui.Storage/bin/Debug/net7.0
/src/ServiceReport.Ui/ServiceReport.Ui.Core/obj
/src/ServiceReport.Ui/ServiceReport.Ui.Core/bin/Debug/net7.0
/src/ServiceReport.Ui/ServiceReport.Ui.Core/.vs/ServiceReport.Ui.Core
/src/ServiceReport.Saver.Http/obj
/src/ServiceReport.Saver.Http/bin/Debug/net7.0
/src/ServiceReport.Saver.Abstract/obj
/src/ServiceReport.Saver.Abstract/bin/Debug/net7.0
/src/ServiceReport.Core/obj
/src/ServiceReport.Core/bin/Debug/net7.0
/src/ServiceReport/obj
/src/ServiceReport/bin/Debug/net7.0
/ServiceReport.Ui.Web.Core/obj
/.vs
/test/UI/UI.csproj.user
